[submodule "submodules/libhdfs3"]
	path = submodules/libhdfs3
	url = git://github.com/Pivotal-Data-Attic/pivotalrd-libhdfs3.git
[submodule "submodules/protobuf"]
	path = submodules/protobuf
	url = https://github.com/google/protobuf.git
[submodule "submodules/gtest"]
	path = submodules/gtest
	url = https://github.com/google/googletest.git
[submodule "submodules/thrift"]
	path = submodules/thrift
	url = https://github.com/apache/thrift.git
[submodule "submodules/zookeeper"]
	path = submodules/zookeeper
	url = https://github.com/apache/zookeeper.git
