include LICENSE
include PYTHONREADME.md
include RELEASE.md
include pyproject.toml
include setup.py
include compat_src/sharkbite/__init__.py

prune sharkbite
prune pandashark
prune src
prune include
prune thrift
prune thirdparty
prune cmake
prune native-iterators-jni
prune c-library-examples
prune examples
prune test
prune tests
global-exclude *.py[cod]
global-exclude __pycache__
